.header {
  width: 100%;
  height: 92px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 42px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  position: relative;
}

.logoArea {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 165px;
  height: auto;
  object-fit: contain;
  display: block;
}

.menu {
  display: flex;
  align-items: center;
  gap: 90px;
}

  .menuToggle {
    display: none;
    border: none;
    background-color: #ffffff;
  }

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #b7b7b7;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.menuItem:hover {
  color: #1554ff;
}

.profileButton {
  display: flex;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background: #f4f4f4;
  color: #b7b7b7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.profileButton:hover {
  background: #1554ff;
  color: white;
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px 0px 0px;
  }

  .menu {
    display: none;
    z-index: 3;
  }

  .menuToggle {
    border: none;
    background-color: #ffffff;
  }
  .profileButton {
    display: none;
  }

  .menuAberto {
    background-color: white;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    height: 988px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .logoImage {
    width: 152px;
    height: auto;
    object-fit: contain;
    display: block;
  }
}
