.container {
  width: 100%;
  min-height: 100vh;
  background: #f6f6f6;
}

.topBar {
  height: 38px;
  background: #ececec;
}

.content {
  padding: 70px 50px;
}

.content h1 {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.line {
  width: 100%;
  height: 1px;
  background: #d2d2d2;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 260px;
  height: 190px;
  background: #efefef;
  border-radius: 22px;
  padding: 18px;
}

.card h3 {
  color: #0d4cff;
  font-size: 14px;
  margin-bottom: 18px;
}

/* CARD 1 */

.card1Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background:
    radial-gradient(
      closest-side,
      #efefef 87%,
      transparent 88%
    ),
    conic-gradient(
      #0d4cff 57%,
      #c5c5c5 0
    );

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  color: #0d4cff;
  font-size: 16px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.infoBox {
  background: #f8f8f8;
  border-radius: 12px;
  width: 80px;
  height: 46px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBox strong {
  color: #707070;
}

.infoBox small {
  font-size: 8px;
  color: #b3b3b3;
  text-align: center;
}

/* CARD 2 */

.chart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row span {
  width: 35px;
  color: #a4a4a4;
  font-weight: 700;
}

.bar {
  width: 140px;
  height: 30px;
}

.bar div {
  height: 100%;
  background: #4f73f8;
  border-radius: 4px;
}

/* CARD 3 */

.pie {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;

  background:
    conic-gradient(
      #1c23d8 0deg 47deg,
      #506aff 47deg 360deg
    );
}

.legend {
  margin-top: 10px;
}

.acertos,
.erros {
  width: 170px;
  margin: 6px auto;
  border-radius: 20px;
  padding: 2px 10px;

  display: flex;
  justify-content: space-between;

  color: white;
  font-size: 10px;
  font-weight: 700;
}

.acertos {
  background: #506aff;
}

.erros {
  background: #1707c5;
}

.bottomBar {
  margin-top: 70px;
  width: 100%;
  height: 80px;
  background: #0d4cff;
}

@media (max-width: 1000px) {
  .cards {
    flex-wrap: wrap;
  }
}