@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variáveis globais reutilizadas principalmente no login e em elementos de formulário. */
:root {
  --fonteFamilyBtn: "Poppins", sans-serif;
  --fontWeightBtn: bold;
  --fontSizeBtn: 24px;
  --fontFamilyLabel: "Poppins", sans-serif;
  --fontFamilyH2: "Poppins", sans-serif;
  --fontFamilyPlaceHolderInput: "Poppins", sans-serif;
  --fontSizeH2: 36px;
   --colorPlaceHolderInput: #afafaf;
  --colorH2: #afafaf;
  --colorLabel: #afafaf;
  --colorInputPlaceHolder: #afafaf;
}

/* Reset básico para remover espaçamentos padrões e facilitar layouts previsíveis. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que o corpo da página ocupe pelo menos a altura inteira da viewport. */
body {
  min-height: 100vh;
}

